{% extends 'layout.html' %}

{% block body %}

<h2>Create a Poll</h2>

{% with messages = get_flashed_messages() %}

<strong>{{ messages[0]|safe }}</strong>

{% endwith %}

<form action = '/create' method = 'POST'>
    <input requried type = 'text' name = 'title' placeholder = 'Poll Title'><br>
    <input required type = 'text' name = 'options[]' placeholder = 'First Choice'><br>
    <input required type = 'text' name = 'options[]' placeholder = 'Second Choice'>
    <input type = 'submit' value = 'Create Poll'>
</form>

<!-- to send array, use name=options[] -->

{% endblock %}