{% extends 'layout.html' %}

{% block body %}

<h2>Create a Poll</h2>

{% with messages = get_flashed_messages() %}

<strong>{{ messages[0]|safe }}</strong>

{% endwith %}

<form action = '/create' method = 'POST' id = create-form>
    <input requried type = 'text' name = 'title' placeholder = 'Poll Title'><br>
    <div class = option-field><input required type = 'text' name = 'options[]' placeholder = 'Option'><br></div>
    <div class = option-field><input required type = 'text' name = 'options[]' placeholder = 'Option'><br></div>
    <button type = button id = add-option>Add option</button>
    <input type = 'submit' value = 'Create Poll'>
</form>

<script src = 'static/create.js' type = 'text/javascript'></script>

{% endblock %}
