<!DOCTYPE html>

<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112815729-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-112815729-1');
        </script>
        
        <title>Pollz</title>
        
        <link href="https://fonts.googleapis.com/css?family=Oswald|Rammetto+One" rel="stylesheet">
        <link rel = 'stylesheet' type = 'text/css' href = 'static/main.css' >
    </head>
    <body>
        <header>
            <ul class = header-content>
                <li><a href = '/' class = logo><h1>Pollz</h1></a></li>
                <li><a href = 'view'>View Polls</a></li>
                <li><a href = '/create'>Create a Poll</a></li>
                
                {% if user %}
                <li class = right><a href = '/logout'>Log Out</a></li>
                {% else %}
                <li class = right><a href = '/register' id = register>Register</a></li>
                <li class = right><a href = '/login'>Log In</a></li>
                {% endif %}
            </ul>
        </header>
        
        {% block body %}
        
        {% endblock %}
        
        <footer>
            Pollz &copy; 2018 Colin Siles
        </footer>
    </body>
</html>