{% extends 'layout.html' %}

{% block body %}

<div id = form-box-wrapper>
    <div id = form-box>
        <h2 class = "form-title login-form" >Log In</h2><br>
        <div class = form-container>
            <form action = '/login' method = 'POST'>
                <span class = field-label>Email</span><br>
                <input required type = 'email' name = 'email'><br>
                <span class = field-label>Password</span><br>
                <input required type = 'password' name = 'password'><br><br>
                <input type = 'submit' value = 'Log In' class = "login-form">
            </form>
        </div>
        <p>Don't have an account? <a href = /register>Register Here</a>.</p>
    </div>
</div>
{% endblock %}
