{% extends 'layout.html' %}

{% block body %}

<h2>Register for Pollz</h2>

{% with messages = get_flashed_messages() %}

<strong>{{ messages[0]|safe }}</strong>

{% endwith %}

<form action = '/register' method = 'POST'>
    <input requried type = 'email' name = 'email' placeholder = 'Email'><br>
    <input required type = 'password' name = 'password' placeholder = 'Password' id = 'password'><br>
    <input type = 'checkbox' name = 'show' id = 'show'>
    <label for = 'show'>Show Password</label><br>
    <input type = 'submit' value = 'Register'>
</form>

<script src = 'static/register.js' type = 'text/javascript'></script>

{% endblock %}